/*
nav ul{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	text-decoration-style: none;
	/*justify-content: space-around;
}.logo{
	margin-top: -20px;
	margin-left: -50px;
}.lista{
	flex-wrap: wrap;
	display: flex;
	font-size: 1.5em;
	padding-top: 40px;
	/*margin-top: 20px;
}.lista a{
	text-decoration: none;
	padding: 0 50px;
	display: flex;
}@media all and (max-width: 400px){
	nav ul{
		flex-direction: column;
	}
	nav ul li{
		text-align: center;
	}
}
/*
*/
*{
	box-sizing: border-box;
	font-family: 'DM Sans',sans-serif;
	font-weight: normal;
	color: white;
}
body{
	margin: 0;
	padding: 0;
	margin-top: -40px;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	color: white;
	
}
.logo{
	margin: 0, .2rem;
	margin-top: 50px;
}
.navbar-links ul{
	max-width: 100%;
	margin: 0;
	padding-top: 0;
	display: flex;
	color: white;

}.navbar-links ul li{
	list-style: none;
	font-size: 25px;
	margin-top: -10px;


}
.navbar-links li a{
	text-decoration: none;
	
	padding: 2rem;


}
.toggle-button {
    position: absolute;
    margin-top: 65px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    padding-top: -200px;

}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    line-height: 50px;

}@media (max-width: 850px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;

    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        line-height: 60px;
    }

    .navbar-links.active {
        display: flex;
    }
}.content{
	padding-top: 40px;
	text-align: center;
	font-size: 4rem;
}.butonat{
	padding-top: 20px;
	text-align:center;

}.butonat button{
	border:none;
	border-radius: 20px;
	width: 180px;
	height: 60px;
	margin-left: 30px;
	margin-bottom: 30px;
	
}.butonat button a{
	text-decoration: none;
	color: black;
}
/*.fa {
  padding: 20px 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 30px 40px;
  border-radius: 60%;
  height: 75px;
  
}.fa-facebook {
  background: lightblue;
  color: white;

}.fa-linkedin{
    background-color: #007bb5;
    color: white;
}.fa-instagram{
    background-color:  #125688;
    color: lightpink;
}.ikonat{
	margin-left: 200px;
}*/

.butonat button:hover{
	transform: scale(1.1);
	background-color: lightgrey;
}.boxes{
	display: flex;
	padding-top: 40px;
	flex-wrap: wrap;
	text-align: center;
	
}.box{

	flex:1;

}.arrow{
	text-align: center;

}.contact-forma{
			text-align: center;

		}.contact-forma input{
			border:2px solid lightgrey;
			border-radius: 5px;
			background-color: white;
			color: black;
			
		}.event-buttons{
			width: 80px;
			height: 30px;
			margin:0 0 0 10px;
		}.text-buttons{
			width: 200px;
			height: 25px;
		}.event-buttons:hover{
			transform: scale(1.1);
			background-color: lightgrey;
		}.teksti{
			
			font-size: 90px;
			text-align: center;
		}.contacti{
			
			
		}/*.forms input{
			flex-wrap: wrap;
			font-size: 30px;
			border:none;
			border-collapse: collapse;
			background: lightgrey;
			margin: 10px;

		}.forms{
			padding-top: 50px;
			font-size: 40px;
		}*/
		@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:420px; margin:0px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }footer{
                    margin-top:200px;
                    text-align:center;
        }.feedback-input::placeholder{
        	text-align: center;
        }
        