/*
nav ul{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	text-decoration-style: none;
	/*justify-content: space-around;
}.logo{
	margin-top: -20px;
	margin-left: -50px;
}.lista{
	flex-wrap: wrap;
	display: flex;
	font-size: 1.5em;
	padding-top: 40px;
	/*margin-top: 20px;
}.lista a{
	text-decoration: none;
	padding: 0 50px;
	display: flex;
}@media all and (max-width: 400px){
	nav ul{
		flex-direction: column;
	}
	nav ul li{
		text-align: center;
	}
}
/*
*/
*{
	box-sizing: border-box;
	font-family: 'DM Sans',sans-serif;
	font-weight: normal;
}
body{
	margin: 0;
	padding: 0;
	margin-top: -40px;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	color: black;
	
}
.logo{
	margin: 0, .2rem;
	margin-top: 10px;
}
.navbar-links ul{
	max-width: 100%;
	margin: 0;
	padding-top: 0;
	display: flex;

}.navbar-links ul li{
	list-style: none;
	font-size: 25px;
	margin-top: -10px;


}
.navbar-links li a{
	text-decoration: none;
	color: black;
	padding: 2rem;


}
.toggle-button {
    position: absolute;
    margin-top: 65px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    padding-top: -200px;

}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    line-height: 50px;

}@media (max-width: 850px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;

    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        line-height: 60px;
    }

    .navbar-links.active {
        display: flex;
    }
}.content{
	padding-top: 40px;
	text-align: center;
	font-size: 4rem;
}.butonat{
	padding-top: 20px;
	text-align:center;

}.butonat button{
	border:none;
	border-radius: 20px;
	width: 180px;
	height: 60px;
	margin-left: 30px;
	margin-bottom: 30px;
	
}.butonat button a{
	text-decoration: none;
	color: black;
}
/*.fa {
  padding: 20px 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 30px 40px;
  border-radius: 60%;
  height: 75px;
  
}.fa-facebook {
  background: lightblue;
  color: white;

}.fa-linkedin{
    background-color: #007bb5;
    color: white;
}.fa-instagram{
    background-color:  #125688;
    color: lightpink;
}.ikonat{
	margin-left: 200px;
}*/

.butonat button:hover{
	transform: scale(1.1);
	background-color: lightgrey;
}.boxes{
	display: flex;
	padding-top: 40px;
	flex-wrap: wrap;
	text-align: center;
	
}.box{

	flex:1;

}.arrow{
	text-align: center;

}.contact-forma{
			text-align: center;

		}.contact-forma input{
			border:2px solid lightgrey;
			border-radius: 5px;
			background-color: white;
			color: black;
			
		}.event-buttons{
			width: 80px;
			height: 30px;
			margin:0 0 0 10px;
		}.text-buttons{
			width: 200px;
			height: 25px;
		}.event-buttons:hover{
			transform: scale(1.1);
			background-color: lightgrey;
		}.teksti{
			float: left;
			font-size: 90px;
			margin-top: 170px;
			margin-left: 20px;
		}.contacti{
			display: flex;
			
		}.forms input{
			flex-wrap: wrap;
			font-size: 30px;
			border:none;
			border-collapse: collapse;
			background: lightgrey;
			margin: 10px;

		}.forms{
			padding-top: 50px;
			font-size: 40px;
		}footer{
                    margin-top:200px;
                    text-align:center;
        }input[type="text"]::placeholder{
        	text-align: center;
        }
        